body {
  background-color: black;
  color: silver;
}
#mainContainerDiv {
  background-color: black;
  height: 960px;
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr;
}
#navDiv {
  font-size: 50px;
  background-color: rgb(31, 17, 6);
}
#mainDiv {
  display: grid;
  grid-template-columns: 6fr 2fr;
  grid-template-rows: 1fr;
}
#booksStatsDiv {
  font-size: 30px;
  background-color: rgb(9, 14, 19);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.statsDiv {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#booksDiv {
  background-image: url("https://64.media.tumblr.com/4c64b3f24d8e68c076476f9cd5d34188/647df220e927d7d7-a5/s2048x3072_c0,12444,100000,87467/72f030913e676561aef1688cc62fe4112ebb7247.jpg");
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 6px;
}
#deleteLibraryButton {
  width: 150px;
  height: 50px;
  color: grey;
  background-color: rgb(1, 17, 2);
  font-size: 18px;
}
#deleteLibraryButton:hover {
  text-shadow: 0 0 1px silver;
}
#addBookDiv {
  width: 150px;
  height: 150px;
  background-color: rgb(1, 17, 2);
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 25px;
  top: 805px;
  opacity: 0.9;
  color: grey;
}
#plusSignDiv {
  font-size: 80px;
}
#addBookDiv:hover {
  transform: scale(1.05);
  color: silver;
}
#formPopup {
  display: none;
  position: fixed;
  width: 600px;
  height: 600px;
  background-color: rgb(3, 22, 22);
  position: fixed;
  left: 640px;
  top: 250px;
}
#formPopup form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}
#formPopup form p {
  font-size: 30px;
}
.formDiv {
  margin-bottom: 15px;
  font-size: 20px;
}
.formDiv input {
  width: 400px;
  height: 50px;
  background-color: silver;
  font-size: 18px;
}
#readOrNotDiv {
  width: 400px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 20px;
}
#readOrNotDiv input {
  width: 20px;
  height: 20px;
  background-color: silver;
}
#buttonsDiv {
  margin-bottom: 15px;
  width: 400px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#buttonsDiv button {
  width: 180px;
  height: 80px;
  font-size: 20px;
  color: silver;
}
#addBookButton {
  background-color: rgb(75, 93, 97);
}
#closeAddBookButton {
  background-color: rgb(75, 93, 97);
}
